[submodule "GPGMail/Dependencies/MacGPGME"]
	path = GPGMail/Dependencies/MacGPGME
	url = git://github.com/GPGMail/macgpgme.git
[submodule "GPGMail/Dependencies/GPGTools_Core"]
	path = GPGMail/Dependencies/GPGTools_Core
	url = git@github.com:GPGTools/GPGTools_Core.git
